.color
{
    border: 1px solid;
    border-color: black;
    padding: 40px;
}

#color-palette
{
    margin-top: 150px; 
  display: inline-flex;
}

.black
{
    background-color: black;
}

.cyan
{
    background-color: aqua;
}

.purple
{
    background-color: blue;
}

.green
{
    background-color: chartreuse;
}

.pixel {
    border: 1px solid;
    border-color: black;
    float: left;
    background-color: rgb(0, 255, 255);
    height: 40px;
    margin-left: 5px;
    width: 40px;
    
}

#pixel-board
{
    margin-top: 8%;
    width: 20%;
   position: absolute;
}

.selected
{
    
}

li 
{ 
    list-style-type: none; 
}